<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>456596402859-0o1dbsul7hllohfmjr765lp4qon578pv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456596402859-0o1dbsul7hllohfmjr765lp4qon578pv</string>
	<key>API_KEY</key>
	<string>AIzaSyDbjaxs_Rh8Ua8dsf1HKiMJ1kR7Jmi0FGM</string>
	<key>GCM_SENDER_ID</key>
	<string>456596402859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nageeb.loqya</string>
	<key>PROJECT_ID</key>
	<string>firstapp-b7727</string>
	<key>STORAGE_BUCKET</key>
	<string>firstapp-b7727.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:456596402859:ios:aeb9d5bfe926ed92</string>
	<key>DATABASE_URL</key>
	<string>https://firstapp-b7727.firebaseio.com</string>
	<key>FirebaseScreenReportingEnabled</key>
	<false/>
</dict>
</plist>
